{% extends 'generic/object_detail.html' %}
{% load buttons %}
{% load static %}
{% load custom_links %}
{% load helpers %}
{% load plugins %}
{% load render_table from django_tables2 %}
{% block masthead %}
    <h2>{% block title %}{{ object }}{% endblock %}</h2>
{% endblock masthead %}

{% block content_left_page %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong>A Record</strong>
        </div>
        <table class="table table-hover panel-body attr-table">
            <tr>
                <td>Name</td>
                <td>{{ object.name }}</td>
            </tr>
            <tr>
                <td>Address</td>
                <td><a href="{%  url 'ipam:ipaddress' pk=object.address.pk %}">{{ object.address }}</a></td>
            </tr>
            <tr>
                <td>Zone</td>
                <td><a href="{% url 'plugins:nautobot_dns_models:dnszonemodel' pk=object.zone.pk %}">{{ object.zone }}</a></td>
            </tr>
            <tr>
                <td>TTL</td>
                <td>{{ object.ttl }}</td>
            </tr>
            <tr>
                <td>Description</td>
                <td>{% if object.description %} {{ object.description }} {% else %} &mdash; {% endif %}</td>
            </tr>
            <tr>
                <td>Comment</td>
                <td>{% if object.comment %} {{ object.comment }} {% else %} &mdash; {% endif %}</td>
            </tr>
        </table>
    </div>
{% endblock %}