{% extends 'generic/object_detail.html' %}
{% load buttons %}
{% load static %}
{% load custom_links %}
{% load helpers %}
{% load plugins %}
{% load render_table from django_tables2 %}
{% block title %}
  {{ object }}
{% endblock %}

{% block content_left_page %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <strong>DNS Zone</strong>
    </div>
    <table class="table table-hover panel-body attr-table">
      <tr>
        <td>Name</td>
        <td>{{ object.name }}</td>
      </tr>
      <tr>
        <td>Description</td>
        <td>{{ object.description|placeholder }}</td>
      </tr>
      <tr>
        <td>TTL</td>
        <td>{{ object.ttl|placeholder }}</td>
      </tr>
      <tr>
        <td>MName</td>
        <td>{{ object.mname|placeholder }}</td>
      </tr>
      <tr>
        <td>RName</td>
        <td>{{ object.rname|placeholder }}</td>
      </tr>
      <tr>
        <td>Refresh</td>
        <td>{{ object.refresh|placeholder }}</td>
      </tr>
      <tr>
        <td>Retry</td>
        <td>{{ object.retry|placeholder }}</td>
      </tr>
      <tr>
        <td>Expire</td>
        <td>{{ object.expire|placeholder }}</td>
      </tr>
    </table>
  </div>
{% endblock %}

{% block content_right_page %}
  <div class="row">
    <div class="col-md-12">
      <div class="buttons"></div>
      <div class="panel panel-default">
        <div class="panel-heading text-right">
          <span class="pull-left"><strong>Records in {{ object.name }}</strong></span>
          {% if perms.nautobot_dns_models.change_dnszonemodel %}
            <div class="btn-group">
              <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="mdi mdi-plus-thick" aria-hidden="true"></span> Add Records <span class="caret"></span></button>
              <ul class="dropdown-menu">
                {% if perms.nautobot_dns_models.add_arecordmodel %}
                  <li>
                    <a href="{% url 'plugins:nautobot_dns_models:arecordmodel_add' %}?zone={{ object.pk }}&return_url={% url 'plugins:nautobot_dns_models:dnszonemodel' pk=object.pk %}">A</a>
                  </li>
                {% endif %}
                {% if perms.nautobot_dns_models.add_aaaarecordmodel %}
                  <li>
                    <a href="{% url 'plugins:nautobot_dns_models:aaaarecordmodel_add' %}?zone={{ object.pk }}&return_url={% url 'plugins:nautobot_dns_models:dnszonemodel' pk=object.pk %}">AAAA</a>
                  </li>
                {% endif %}
                {% if perms.nautobot_dns_models.add_cnamerecordmodel %}
                  <li>
                    <a href="{% url 'plugins:nautobot_dns_models:cnamerecordmodel_add' %}?zone={{ object.pk }}&return_url={% url 'plugins:nautobot_dns_models:dnszonemodel' pk=object.pk %}">CName</a>
                  </li>
                {% endif %}
                {% if perms.nautobot_dns_models.add_mxrecordmodel %}
                  <li>
                    <a href="{% url 'plugins:nautobot_dns_models:mxrecordmodel_add' %}?zone={{ object.pk }}&return_url={% url 'plugins:nautobot_dns_models:dnszonemodel' pk=object.pk %}">MX</a>
                  </li>
                {% endif %}
                {% if perms.nautobot_dns_models.add_txtrecordmodel %}
                  <li>
                    <a href="{% url 'plugins:nautobot_dns_models:txtrecordmodel_add' %}?zone={{ object.pk }}&return_url={% url 'plugins:nautobot_dns_models:dnszonemodel' pk=object.pk %}">TXT</a>
                  </li>
                {% endif %}
                {% if perms.nautobot_dns_models.add_nsrecordmodel %}
                  <li>
                    <a href="{% url 'plugins:nautobot_dns_models:nsrecordmodel_add' %}?zone={{ object.pk }}&return_url={% url 'plugins:nautobot_dns_models:dnszonemodel' pk=object.pk %}">NS</a>
                  </li>
                {% endif %}
                {% if perms.nautobot_dns_models.add_ptrrecordmodel %}
                  <li>
                    <a href="{% url 'plugins:nautobot_dns_models:ptrrecordmodel_add' %}?zone={{ object.pk }}&return_url={% url 'plugins:nautobot_dns_models:dnszonemodel' pk=object.pk %}">PTR</a>
                  </li>
                {% endif %}
              </ul>
            </div>
          {% endif %}
        </div>
        {% render_table records_table 'inc/table.html' %}
      </div>
      {% include 'inc/paginator.html' with paginator=records_table.paginator page=records_table.page %}
    </div>
  </div>

{% endblock %}
