
{% extends 'generic/object_detail.html' %}
{% load buttons %}
{% load static %}
{% load custom_links %}
{% load helpers %}
{% load plugins %}
{% load dns_tags %}

{% block title %}{{ object }}{% endblock %}



{% block header %}
<div class="row noprint">
	<div class="col-sm-8 col-md-9">
		<ol class="breadcrumb">
			<li><a href="{% url 'plugins:nautobot_dns_models:dnszonemodel_list' %}">DNS Zones</a></li>
			<li>Zone {{ object.name }}</li>
		</ol>
	</div>
	<div class="col-sm-4 col-md-3">
		<form action="{% url 'plugins:nautobot_dns_models:dnszonemodel_list' %}"
			method="get">
			<div class="input-group">
				<input type="text" name="q" class="form-control" />
				<span class="input-group-btn">
					<button type="submit" class="btn btn-primary">
						<span class="mdi mdi-magnify" aria-hidden="true"></span>
					</button>
				</span>
			</div>
		</form>
	</div>
</div>
<div class="pull-right noprint">
	{% if perms.nautobot_dns_models.change_dnszonemodel %}
	<a href="{% url 'plugins:nautobot_dns_models:dnszonemodel_edit' pk=object.pk %}"
		class="btn btn-warning">
		<span class="mdi mdi-pencil" aria-hidden="true"></span> Edit
	</a>
	{% endif %}
	{% if perms.nautobot_dns_models.delete_dnszonemodel %}
	<a href="{% url 'plugins:nautobot_dns_models:dnszonemodel_delete' pk=object.pk %}"
		class="btn btn-danger">
		<span class="mdi mdi-trash-can-outline" aria-hidden="true"></span> Delete
	</a>
	{% endif %}
</div>
<h1>DNS Zone: {{ object.name }}</h1>
{% include 'inc/created_updated.html' with obj=object %}
<div class="pull-right noprint">
	{% custom_links object %}
</div>
<ul class="nav nav-tabs">
	<li role="presentation" {% if not active_tab %} class="active" {% endif %}>
		<a href="{{ object.get_absolute_url }}">DNS Zone</a>
	</li>
	{% if perms.extras.view_objectchange %}
	<li role="presentation" {% if active_tab == 'changelog' %} class="active" {% endif %}>
		<a href="{% url 'plugins:nautobot_dns_models:dnszonemodel_changelog' pk=object.pk %}">Change Log</a>
	</li>
	{% endif %}
</ul>
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-md-2">
		<div class="panel panel-default">
			<div class="panel-heading">
				<strong>DNS Zone</strong>
			</div>
			<table class="table table-hover panel-body attr-table">
				<tr>
					<td>Name</td>
					<td>
						<a href="{{ object.get_absolute_url }}">{{ object.name }}</a>
					</td>
				</tr>
				<tr>
					<td>Description</td>
					<td>
						{{ object.description|placeholder }}
					</td>
				</tr>
				<tr>
					<td>TTL</td>
					<td>{{ object.ttl|placeholder }}</td>
				</tr>
				<tr>
					<td>MName</td>
					<td>{{ object.mname|placeholder }}</td>
				</tr>
				<tr>
					<td>RName</td>
					<td>{{ object.rname|placeholder }}</td>
				</tr>
				<tr>
					<td>Refresh</td>
					<td>{{ object.refresh|placeholder }}</td>
				</tr>
				<tr>
					<td>Retry</td>
					<td>{{ object.retry|placeholder }}</td>
				</tr>
				<tr>
					<td>Expire</td>
					<td>{{ object.expire|placeholder }}</td>
				</tr>
			</table>
		</div>
		{% plugin_left_page object %}
	</div>
	<div class="col-md-10">
		<div class="buttons">
		</div>
		<div class="panel panel-default">
			<div class="panel-heading text-right">
				<span class="pull-left"><strong>Records in {{ object.name }}</strong></span>
				{% if perms.nautobot_dns_models.change_dnszonemodel %}
				<div class="btn-group">
					<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<span class="mdi mdi-plus-thick" aria-hidden="true"></span> Add Records <span class="caret"></span>
					</button>
					<ul class="dropdown-menu">
						{% if perms.dcim.add_arecord %}
							<li><a href="{% url 'plugins:nautobot_dns_models:arecordmodel_add' %}?zone={{ object.pk }}&return_url={% url 'plugins:nautobot_dns_models:dnszonemodel' pk=object.pk %}">A</a></li>
						{% endif %}
						{% if perms.dcim.add_aaaarecord %}
							<li><a href="{% url 'plugins:nautobot_dns_models:aaaarecordmodel_add' %}?zone={{ object.pk }}&return_url={% url 'plugins:nautobot_dns_models:dnszonemodel' pk=object.pk %}">AAAA</a></li>
						{% endif %}
						{% if perms.dcim.add_cnamerecord %}
							<li><a href="{% url 'plugins:nautobot_dns_models:cnamerecordmodel_add' %}?zone={{ object.pk }}&return_url={% url 'plugins:nautobot_dns_models:dnszonemodel' pk=object.pk %}">CName</a></li>
						{% endif %}
						{% if perms.dcim.add_mxrecord %}
							<li><a href="{% url 'plugins:nautobot_dns_models:mxrecordmodel_add' %}?zone={{ object.pk }}&return_url={% url 'plugins:nautobot_dns_models:dnszonemodel' pk=object.pk %}">MX</a></li>
						{% endif %}
						{% if perms.dcim.add_txtrecord %}
							<li><a href="{% url 'plugins:nautobot_dns_models:txtrecordmodel_add' %}?zone={{ object.pk }}&return_url={% url 'plugins:nautobot_dns_models:dnszonemodel' pk=object.pk %}">TXT</a></li>
						{% endif %}
						{% if perms.dcim.add_nsrecordmodel %}
							<li><a href="{% url 'plugins:nautobot_dns_models:nsrecordmodel_add' %}?zone={{ object.pk }}&return_url={% url 'plugins:nautobot_dns_models:dnszonemodel' pk=object.pk %}">NS</a></li>
						{% endif %}
					</ul>
				</div>
        		{% endif %}
			</div>
			<div class="table responsive">
				<table class="table table-hover table-headings">
				{% if child_records %}
				<!-- record, name, value, description -->
				<thead>
					<tr>
						<th>Type</th>
						<th>Name</th>
						<th>Value</th>
						<th>Description</th>
						<th>Actions</th>
					</tr>
				</thead>
				{% for record in child_records %}
				<tr>
					{% with record_model=record|meta:"model_name" %}
					<td>{{ record | meta:"verbose_name" | split:" " | first}}</td>
					<td>{{ record |  hyperlinked_object}}</td>
					{% if record_model in "arecordmodel,aaaarecordmodel" %}
					<td>{{ record.address }}</td>
					{% elif record_model in "nsrecordmodel" %}
					<td>{{ record.server }}</td>
					{% elif record_model in "cnamerecordmodel" %}
					<td>{{ record.alias }}</td>
					{% elif record_model in "mxrecordmodel" %}
					<td>{{ record.mail_server }}</td>
					{% elif record_model in "txtrecordmodel" %}
					<td>{{ record.text }}</td>
					{% elif record_model in "txtrecordmodel" %}
					<td>{{ record.text }}</td>
					{% endif %}
					<td>{{ record.description }}</td>
					<td>
					{% if perms.nautobot_dns_models.change_dnszonemodel %}
						{% if perms.dcim.edit_record_model %}
							<a href="{{ record|url_with_action:"edit" }}" class="btn btn-xs btn-warning" title="Edit">
								<i class="mdi mdi-pencil"></i>
							</a>
						{% endif %}
						{% if perms.dcim.delete_record_model %}
							<a href="{{ record|url_with_action:'delete'  }}" class="btn btn-xs btn-danger" title="Delete">
								<i class="mdi mdi-trash-can-outline"></i>
							</a>
						{% endif %}
					{% endif %}
					</td>
					{% endwith %}
				</tr>
				{% endfor %}
				{% else %}
				<tr>
					<td colspan="4">No records found</td>
				</tr>
				{% endif %}
			</table>

			</div>

		</div>

	</div>
</div>
<div class="row">
	<div class="col-md-12">
		{% plugin_full_width_page object %}
	</div>
</div>

{% include 'inc/custom_fields_panel.html' %}
{% include 'inc/relationships_panel.html' %}
{% endblock %}

